<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<title>关于蝾螈</title>
	<meta name="keywords" content="botany, about us, responsive, bootstrap, free template, fluid layout" />
	<meta name="description" content="Botany Template, About Us, free responsive template, fluid background image" />
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../static/css/templatemo_style.css" rel="stylesheet" type="text/css">
	<script src="../static/js/jquery-1.7.2.js" type="text/javascript" charset="gbk"></script>
  	<script src="../static/js/exit.js" type="text/javascript" charset="gbk"></script>
  	<script src="../static/js/browser.js" type="text/javascript" charset="gbk"></script>
  	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../static/js/html5shiv.min.js"></script>
      <script src="../static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="templatemo_flower_2">
	<div id="main_container">
		<div class="container" id="about">
			<div class="row col-wrap">
				<div id="left_container" class="col col-md-3 col-sm-12">
					<div class="templatemo_logo">
						<a rel="nofollow" href="http://www.templatemo.com/preview/templatemo_391_botany"><img src="../static/images/log.png" alt="Botany Theme"></a>
					</div>
					<nav id="main_nav">
						<ul class="nav">
							<li><a href="/top/">网站首页</a></li>
							<li><a href="/upload_view/">上传资源</a></li>
							<li><a href="/download_view/">下载资源</a></li>
							<li  class="active"><a href="/about_view/">关于蝾螈</a></li>
						</ul>
					</nav>
					 <div style="width:263px; height:41px;background-color: #43454C;text-align: center;">
							<p style="padding-top: 10px;">相关数据库</p>
					</div>
					<nav id="main_nav">
						<ul class="nav" style="margin-top:-20px;">
												<li ><a href="http://www.ncbi.nlm.nih.gov" target="_blank">NCBI</a></li>
												<li><a href="http://www.ncbi.nlm.nih.gov/genbank" target="_blank">GENBANK</a></li>
												<li ><a href="http://www.ebi.ac.uk/embl/" target="_blank">EMBL</a></li>
												<li><a href="http://www.rcsb.org/pdb/home/home.do" target="_blank">PDB</a></li>
												<li><a href="http://www.ddbj.nig.ac.jp/" target="_blank">DDBJ</a></li>
												<li><a href="http://www.gdb.org" target="_blank"> GDB</a></li>
												<li><a href="http://pir.georgetown.edu/" target="_blank">PIR</a></li>
						</ul>
					</nav>
					<div>
						<a rel="nofollow" href="#"><img src="../static/images/facebook.png" alt="Like us on Facebook"></a>
						<a href="#"><img src="../static/images/twitter.png" alt="Follow us on Twitter"></a>
						<a href="#"><img src="../static/images/rss.png" alt="RSS feeds"></a>
					</div>
					<nav id="main_nav">
						<p>您的IP地址为：{{addr}}</p><br>
						<p>当前网站访问量：{{ipcount}}</p>
					</nav>
				</div>
				<div id="right_container" class="col col-md-9 col-sm-12">
				    <div class="row" style="float:right;">
                		<div class="col col-md-12" style="word-break:break-all;">
                			<span><div style="float:left;">{% if username %}<p>{{username}} 已登陆!&nbsp;&nbsp;&nbsp;&nbsp;</p> {% endif %}</div><div style="float:right;"><a href="/register_view/">用户注册</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/login_view/">用户登录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="exit"  href="/exit/">用户注销</a></div></span>
                		</div>
                	</div>
					<div class="row"><div class="col col-md-12"><h2>关于蝾螈</h2></div></div>
					<article class="row">
						<div class="col col-md-12">
							<h4>生活习性</h4>
							<p>蝾螈属动物生活在丘陵沼泽地水坑，池塘或稻田及其附近。10月到次年3月多在水域附近的土隙或石下进入冬眠。3～9月多在山边水草丰盛的水坑或稻田内活动。底栖，爬行缓慢，很少游泳。多在水底觅食蚯蚓、软体动物、昆虫幼虫等。蝾螈主要食昆虫，蠕虫、蜗牛和一些小动物，包括它们的同类。像其他两栖动物一样，它们养靠皮肤来吸收水分，因此需要潮湿的生活环境。环境到摄氏零下以后，它们会进入冬眠状态。</p>
							<p>蝾螈是很害羞的动物，它们通常藏在潮湿的地方或水下，它们的皮肤光滑而又粘性，尾巴很长，头部很圆。它们中许多种终生在水中生活，而另一些则完全生活在陆地上，甚至有些完全在潮湿黑暗的洞穴中生活。大多数的蝾螈，不管是在陆地上还是在水中生活，都要在水中繁殖。</p>
							</div>
						</article>
						<article class="row">
							<div class="col col-md-6">
								<h4>防卫</h4>
								<p>蝾螈无论在地表、树上、或是地下都能用它们短短的四足十分缓慢地爬行。厉害的是，它们可以用前足或者趾尖在池塘底部泥泞不堪的表面上行走，借助摆动尾巴来加快行走速度。</p>
							</div>
							<div class="col col-md-6">
								<h4>基因</h4>
								<p>蝾螈的基因组相当庞大，比人类基因组大十倍。蝾螈转录组有超过120,000个RNA转录本，约有15,000个转录本编码蛋白质，而且其中有826个转录本是蝾螈所独有的。此外，有些序列在原始组织和再生组织间存在差异性表达。</p>
							</div>
						</article>
						<article class="row">
							<div class="col col-md-4">
								<h4>再生能力</h4>
								<p>一种被称之为“巨噬细胞”的免疫细胞对蝾螈的再生能力至关重要，能够帮助科学家控制这种过程，甚至能够将其应用于人类。如果巨噬细胞被系统性剔除，蝾螈便会失去肢体再生能力，形成疤痕组织</p>
							</div>
							<div class="col col-md-4">
								<h4>繁殖期</h4>
								<p>原始形式的蝾螈（如鲵亚目）繁殖的形式是体外受精。一些较高形式的蝾螈则是体内受精，在这种形式下，雌性蝾螈通过自己的泄殖腔开口把雄性蝾螈排泄的精子包囊吸入体内。大多数蝾螈在水中繁殖，也有一些，如大部分无肺螈科的种类在陆地上繁殖。</p>
							</div>
							<div class="col col-md-4">
								<h4>饲养条件</h4>
								<p>
									捕回蝾螈后，可以放在大的玻璃鱼缸内饲养，便于观察其活动。缸底铺些洗净的沙砾碎石，注入30厘米深的潭水或井水，并投入少量金鱼藻等水草，布置成与捕捉场所相似的生态环境。沙石有吸附污物的作用；水草能进行光合作用，增加水中的含氧量，并供蝾螈产卵用。饲养用水以清洁的池水为好，井水也适用。蝾螈喜食活的小动物。水蚯蚓是较理想的饲料，可隔日投入少许。
								</p>
							</div>
						</article>
					</div>
				</div>

			<footer class="row credit">
				<div class="col col-md-12">
					<div id="templatemo_footer">
					<font color="#F55B1F">建议使用Internet Explorer 10+、Firefox 18+、Chrome 22+等浏览器</font>&nbsp;&nbsp;版权 © 2015 开发者为 | <a href="http://202.196.64.199/" target="_blank">郑州大学2011级计算机科学与技术(生物信息处理)</a>   资料来自于<a rel="nofollow" href="http://www.http://baike.baidu.com/link?url=krz-t8OWO3nmxW2A4JHvWKtR6UQg6K6HZgSo0dJtuQ2yeuXum_zwXVBMIptJtGnXEwfxBbmlrHSiDo7wdn2R0sg68bwDiMAcE6_Qa-Uu9Jy" target="_blank">百度百科</a>  和<a href="http://www.ncbi.nlm.nih.gov/" target="_blank">NCBI</a>合作平台&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/" target="_blank">后台管理</a>
					</div>
				</div>
			</footer>

		</div>
	</div>
</body>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js'></script>
<script type='text/javascript' src='../static/js/logging.js'></script>
</html>